/* 레이아웃 */
#wrap{ width: 100%; }
#header{ height: 325px; background: url(../img/header_bg.jpg) top center repeat-x;}
#contents{ width: 100%; height: 500px; }
#footer{ width: 100%; background: rgb(248, 248, 248); border-top:1px solid #222;}

/* 스킵메뉴 */
#skip { position: absolute; }
#skip a { position: absolute; left: 3px; top:-40px; border:1px solid #fff; color: #fff; width:120px; height:25px; text-align: center; text-decoration: none; }
#skip a:active, #skip a:focus { top:0; color:mediumturquoise; background-color:mintcream; font-size:12px; line-height: 25px;}


/* 컨텐츠 레이아웃  */
#cont_nav{}
#cont_tit{}
#cont_ban{}
#cont_cont{}

/* 컨테이너 */
.container{ width: 990px; margin: 0 auto; height: inherit;
     background: rgb(255,255,255,0.05) }

/* 헤더메뉴 */
.header{}
.header .header-menu{text-align:right;}
.header .header-menu a{color:white; padding:10px; display:inline-block;}
/* a태그를 text-align 적용할 때는 a 의 부모에 적용한다 */
/* .header-tit {text-align: center; color:white;}
.header-tit h1 { text-align: center; text-transform: uppercase; background-color: #4aa8d4; margin:0 auto; width:600px;}
.header-tit a { color:white; font-size:15px; text-align: center; background-color: #2698cb; width:300px; padding:10px;} */

.header-tit {text-align: center;}
.header-tit h1 {color:white; margin-top:30px; font-size:25pt; display:inline-block; text-transform: uppercase; background-color: #4aa8d4; padding:3px;}
.header-tit a {color:white; display:inline-block; font-size:18px; background-color: #2698cb; padding:5px; margin-top:-5px;}

.header .header-icon{ text-align: center; margin-top: 30px;}
.header .header-icon a{ display:inline-block; width:60px; height:60px;background-image: url(../img/icon.png);}
.header .header-icon a.icon1{background-position: 0px 0px; }
.header .header-icon a.icon2{background-position: 0px -60px;}
.header .header-icon a.icon3{background-position: 0px -120px;}
.header .header-icon a.icon4{background-position: 0px -180px;}


.header .header-icon a.icon1:hover{background-position: -60px 0px;}
.header .header-icon a.icon2:hover{background-position: -60px -60px;}
.header .header-icon a.icon3:hover{background-position: -60px -120px;}
.header .header-icon a.icon4:hover{background-position: -60px -180px;}

/* 전체메뉴 */
.nav{margin-top:15px;}
.nav > div {width:40%; float: left;}
.nav > div:last-child {width:20%;}
.nav > div h3{ font-size:18px; color:#25a2d0; margin-bottom:4px;}
.nav > div ol li{ float: left; width:50%;}
.nav > div:last-child ol li{float: left; width:100%;}
.nav > div ol li:hover{text-decoration: underline;}

/* 타이틀 */
.tit{position: relative;}

.tit h2{ top:20px; text-align: center;  font-family: 'Nanum Brush Script', cursive; 
     font-size:40pt; color:#13a3d8; padding: 5px; letter-spacing: 2px;}

.tit .btn{display: inline-block; position: absolute; top:10px; right:0; width:60px; height:60px; 
     background: url(../img/icon.png) no-repeat 0px -600px;}

.tit .btn:hover{background-position: -60px -600px;}

/* 배너 */
.ban{position: relative; top:40px; right:20px;}
.ban .prev{position: absolute; left:-60px; top:60px; background: url(../img/icon.png) no-repeat -150px 0; width:43px; height:43px;}
.ban .next{position: absolute; right:-20px; top:60px; background: url(../img/icon.png) no-repeat -150px -43px; width:43px; height:43px;}

.ban ul{overflow: hidden;}
.ban ul li{float: left; width:330px;}
/* float:left를 줬으면 그 부모에는 항상 overflow:hidden을 준다 */
.abn ul li .ban_img1{ text-align: left;}
.abn ul li .ban_img2{ text-align: center;}
.abn ul li .ban_img3{ text-align: right;}

.ban ul img{display:block; border:4px solid rgb(95, 204, 193);}
.ban ul img:hover{border:4px solid violet;}

/* 컨텐츠레이아웃 */
/*float:left를 주면 반드시 부모한테 overflow:hidden을 추가*/
.cont {overflow: hidden; }
.cont .column {width: 288px; height:362px;
               float:left; margin: 0 30px 30px 0;
               position: relative;}
.cont .col1 {border-right:1px solid #c8c8c8;}
.cont .col2 {border-right:1px solid #c8c8c8;}
.cont .col3 {border-right:1px solid #c8c8c8;}
.cont .col4 {border-right:1px solid #c8c8c8;}
.cont .col5 {border-right:1px solid #c8c8c8;}
.cont .col6 {border-right:1px solid #c8c8c8;}

.cont .column .ico_img {background: url(../img/icon.png) no-repeat;
                         position: absolute; left:0; top:0; width:60px; height:60px;
                         }
.cont .column .ico_tit {font-size: 16px; color:#2c94c2; padding-left:70px;}
.cont .column .ico_desc {padding-left: 70px; padding-bottom:30px; border-bottom:1px solid #d0d0d0}

.cont .col1 .ico_img {background-position: 0px -240px;}
.cont .col2 .ico_img {background-position: 0px -300px;}
.cont .col3 .ico_img {background-position: 0px -360px;}
.cont .col4 .ico_img {background-position: 0px -420px;}
.cont .col5 .ico_img {background-position: 0px -480px;}
.cont .col6 .ico_img {background-position: 0px -540px;}

.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}

/* 게시판 1 */
.notice {position: relative; margin-top:10px;}
.notice h4 {color: #0093bd; font-size: 14px; font-weight: bold;}
.notice ul {}
.notice ul li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
               /*위에 한줄이 한줄효과 ex) ㄷㅈㄱㅎㄹㅇ....*/
               background: url(../img/dot.gif) no-repeat 0 7px; padding-left: 7px;}
.notice ul li a {font-size: 12px;}
.notice a.more {background: url(../img/icon.png) no-repeat -150px -90px; display: block;
                    width:17px; height:17px; position: absolute; right:0; top:0;}

/* 게시판 2 */
.notice2{position: relative; margin-top:30px;}
.notice2 h4{color: #0093bd; font-size: 14px; font-weight: bold;}
.notice2 ul{}
.notice2 ul li{}
.notice2 ul li a {background: url(../img/dot.gif) no-repeat 0 7px; padding-left: 5px;
     float:left; width:65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice2 ul li span {width:30%; float:right;}
.notice2 a.more {background: url(../img/icon.png) no-repeat -150px -90px; display: block;
     width:17px; height:17px; position: absolute; right:0; top:0;}

/* 게시판 3 */
.notice3 { position: relative; margin-top:10px;}
.notice3 h4 {color: #0093bd; font-size: 14px; font-weight: bold;}
.notice3 ul li {position: relative; padding-bottom:20px; margin:11px 10px 20px 0;}
.notice3 ul li img {width:50px; height:50px; position: absolute; left:0; top:0; border: 1px solid #0093bd;}
.notice3 ul li a {}
.notice3 ul li a strong {display:block; padding-left:55px; padding-top:5px;}
.notice3 ul li span {display:block; float:right; width:80%;
     overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice3 a.more {background: url(../img/icon.png) no-repeat -150px -90px; display: block;
     width:17px; height:17px; position: absolute; right:0; top:0;}

/* 마우스 오버효과1 */
.notice_over {}
.notice_over h4 {color: #0093bd; font-size: 14px; font-weight: bold;}
.notice_over ul {overflow: hidden;}
.notice_over ul li {float:left; width:83px; margin-right:10px; text-align: center;}
.notice_over ul li a span {position: relative; display:block;}
.notice_over ul li a span img {width:100%;}
.notice_over ul li a span:hover em{visibility: visible;}
.notice_over ul li a em {visibility: hidden; position: absolute; left:0; top:0; background:rgba(0, 0, 0, 0.5); 
     width:100%; height:83px; text-align: center; line-height: 83px; color:white; font-style: normal;}
.notice_over ul li a strong {}

.notice_over2 {}
.notice_over2 h4 {color: #0093bd; font-size: 14px; font-weight: bold;}
.notice_over2 ul {overflow: hidden;}
.notice_over2 ul li {float:left; width:83px; margin-right:10px; text-align: center;}
.notice_over2 ul li a span {position: relative; display:block;}
.notice_over2 ul li a span img {width:100%;}
.notice_over2 ul li a span:hover em{visibility: visible;}
.notice_over2 ul li a em {visibility: hidden; position: absolute; left:0; top:0; background:rgb(0, 0, 0, 0.5); 
     width:100%; height: 23px; text-align: center; color:white; margin-top: 60px; font-style: normal;}
.notice_over2 ul li a strong {}

/* 탭메뉴 */
.tap_menu{position : relative; border : 1px solid #ccc; padding : 8px; height : 105px; margin-right:10px; margin-top:15px;}
.tap_menu ul{overflow : hidden; border-bottom : 1px solid #ccc;}
.tap_menu ul li{float : left; border : 1px solid #ccc; margin-right:-1px; margin-bottom:-1px;}
.tap_menu ul li a{padding :5px 5px 5px 5px; display:block;}
.tap_menu ul li ul{position:absolute; left : 0; top : 40px; width : 270px; border:0;}
.tap_menu ul li ul li{float:none; width:86%; border:0; background: url(../img/dot.gif) no-repeat 9px 8px; padding-left:12px;}
.tap_menu ul li ul li a{font-size:12px; width:100%;
      overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tap_menu ul li.active {background: #2c94c4;}
.tap_menu ul li.active a {color:white;}
.tap_menu ul li.active ul li a{color:#333; }

/* 컨텐츠요소를 안보이게 하는 방법 *//*
1,2 많이 씀
1. display:none <----> display:block;  영역까지 사라짐
2. visibility:hidden <---> visibility:visible 영역은 남아있고 내용만 사라짐
3. opacity:0 <---> visibility:visible -> 1
4. width:0; height:0; -> 2
*/

/* 게시판4 */
.notice4 {position: relative; margin-top:10px; }
.notice4 h4 {color: #0093bd; font-size: 14px; font-weight: bold;}
.notice4 h4 em{font-style: normal; color:#f5540a;}
.notice4 ul {border:1px solid #ccc; height:55px; padding:5px; margin-right:10px;}
.notice4 ul li a {background: url(../img/dot.gif) no-repeat 0 7px; padding-left: 5px;
     float:left; width:65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice4 ul li span {width:30%; float:right;}
.notice4 a.more {background: url(../img/icon.png) no-repeat -150px -90px; display: block;
     width:17px; height:17px; position: absolute; right:0; top:0;}

/* 갤러리 */
.gallery {border: 1px solid #ccc; height:260px; margin-right:10px; margin-top:15px;
          position: relative; overflow: hidden;}
.gallery h4 {color: #0093bd; font-size: 14px; font-weight: bold;
               border-bottom : 1px solid #ccc; padding:5px; }
.gallery .gallery_btn {position: absolute; top:5px; right:7px;}
.gallery .gallery_btn ul {overflow: hidden;}
.gallery .gallery_btn ul li {float: left;}
.gallery .gallery_btn ul li a {display: block; width:23px; height:23px; background: url(../img/icon.png) no-repeat;}
.gallery .gallery_img {width:100%;}

.gallery .gallery_btn .gb_icon1 a {background-position: -150px -120px;}
.gallery .gallery_btn .gb_icon2 a {background-position: -150px -143px;}
.gallery .gallery_btn .gb_icon3 a {background-position: -150px -166px;}
.gallery .gallery_btn .gb_icon4 a {background-position: -150px -189px;}

.gallery .gallery_btn .gb_icon1 a:hover {background-position: -173px -120px;}
.gallery .gallery_btn .gb_icon2 a:hover {background-position: -173px -143px;}
.gallery .gallery_btn .gb_icon3 a:hover {background-position: -173px -166px;}
.gallery .gallery_btn .gb_icon4 a:hover {background-position: -173px -189px;}

/* 로그인 */
#login_form {background: #f2f4f5; padding:15px; margin-right:10px; margin-top:10px;}
.login_header {overflow: hidden;  font-size: 12px; height:30px; }
.login_header .lh_check {float:left;padding-right:15px;}
.login_header .lh_ip {float:left;}
.login_header .lh_ip em {color:#0093bd; text-decoration: underline; padding-left:5px; font-style: normal;}

.login_content{position: relative; }
.login_content .lc_text {display: inline;}
.login_content .lc_btn {width:62px; height:45px; position: absolute; top:0px; right:0;}
.login_content .input_text { width:179px; height:16px; margin-bottom:5px;
     border: 1px solid #bebebe; margin-bottom: 3px; background:#fff;}

.login_footer {margin-top:5px;}
.login_footer li {display: inline; padding-left: 2px;}
.login_footer li a {font-size: 12px;}

.footer{text-align: center; padding:25px;}
.footer ul{margin-bottom:2px;  }
.footer ul li {display: inline; position: relative; padding:0 7px;}
.footer li::before{content:''; width:1px; height:12px; background:rgb(80, 80, 80);
position: absolute; left:0; top:2px; display: inline;}
.footer li:first-child:before{ width:0; height:0;}
.footer address {text-align: center;}

/* 팝업 */
.popup {}
.popup h4 {color: #0093bd; font-size: 14px; font-weight: bold; margin-bottom:2px; margin-top:20px;}
.popup ul {overflow: hidden;}
.popup ul li {float:left;  margin-right:3px; width:90px;}
.popup ul img {width:100%;}

/* 레이어팝업 */
#layer{display: none; position: fixed; left:50px; top:50px; width:700px; 
          border:10px solid #dceff7; box-shadow:3px 10px rgba(0,0,0,0.4);}
#layer img{width:100%;}
#layer .close{position: absolute; right:20px; top:20px;
               background:#0093bd; padding:1px 6px; color:#fff;}
#layer .close:hover{text-decoration: underline;}